<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6"><h1>Cronogramas</h1></div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="card">
      <div class="card-body p-0">
        <div class="m-2" *ngIf="canCreateSchedules()">
          <a routerLink="/schedule/new" class="btn btn-success btn-md"><i class="fas fa-plus-circle"></i></a>
        </div>
        <table class="table table-hover table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of schedules">
              <td>{{ schedule.id }}</td>
              <td>{{ schedule.name }}</td>
              <td>{{ schedule.description || '-' }}</td>
              <td>{{ schedule.status }}</td>
              <td>
                <a class="btn btn-info btn-sm mr-1" [routerLink]="['/schedule/detail', schedule.id]">Ver</a>
                <a class="btn btn-warning btn-sm mr-1" *ngIf="canUpdateSchedules()" [routerLink]="['/schedule/edit', schedule.id]">Editar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
