<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Ver Equipo</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/equipment/list">Listado de Equipos</a></li>
            <li class="breadcrumb-item active">Detalles</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Detalles</h3>
        </div>
        <div class="alert alert-danger m-2" *ngIf="errorMessage">{{ errorMessage }}</div>
        <form *ngIf="equipment">
          <div class="row m-1">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" [value]="equipment.name" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Marca</label>
                <input type="text" class="form-control" [value]="equipment.brand || '-'" disabled>
              </div>
            </div>
          </div>
          <div class="row mx-1">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Modelo</label>
                <input type="text" class="form-control" [value]="equipment.model || '-'" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Serie</label>
                <input type="text" class="form-control" [value]="equipment.serial" disabled>
              </div>
            </div>
          </div>
          <div class="row mx-1">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Activo fijo</label>
                <input type="text" class="form-control" [value]="equipment.fixedAssetCode" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Cliente</label>
                <input type="text" class="form-control" [value]="equipment.clientName || '-'" disabled>
              </div>
            </div>
          </div>
          <div class="row mx-1">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Ubicacion</label>
                <input type="text" class="form-control" [value]="equipment.location || '-'" disabled>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Observaciones</label>
                <textarea class="form-control" rows="3" [value]="equipment.observations || '-'" disabled></textarea>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-12 text-center">
                <a routerLink="/equipment/list" class="btn btn-secondary">Volver</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
